.references {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f2f5f8;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.slideshow {
    display: flex;
    transition: transform 0.5s ease;
    margin-left: 50px;
}

.slide {
    min-width: 60%; /* Adjust this percentage to control how much of the next/previous slide is visible */
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    margin: 0 35px; /* Adjust margin to control the spacing between slides */
    background: #fff; /* Optional: Add a background color to the slide */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: Add a subtle shadow */
    border-radius: 10px; /* Optional: Add rounded corners */
}

.controls {
    padding-top: 15px;
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}

body {
    margin: 0;
    padding: 0; /* Reset padding */
    font-family: sans-serif;
    color: #333;
}
.space{
    padding-top: 15px;
}
.buttondiv{
    background-color: #d2d2d2;
    padding: 15px;
    display: flex;
    gap: 4px;
    border: #d2d2d2;
    vertical-align: center;
    background-size: cover;

}

.flag{
    width: 18px;
}

.popis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #273f5f;
    background-color: #fbfbfb;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.rest{
    font-weight: bold;
    margin-right: 55px;
}


.header {
    background: url('1716892612147.jpg') repeat center;
    color: white;
    text-align: center;
    align-items: center;
    background-size: cover;
    clip-path: polygon(0 100%, 50% 85%, 100% 100%, 100% 0, 0 0);
    position: relative; /* Add this line */
    z-index: 1; /* Add this line */
}

.header .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding-bottom: 200px;
    padding-top: 180px;
    box-sizing: border-box;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header p {
    margin: 20px 0;
}

.header button, .section-banner button {
    padding: 10px 20px;
    background: #f0a500;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.section-banner {
    background: url('1716891855897.jpg') no-repeat center center/cover;
    color: white;
    padding: 60px 20px;
    width: 100%;
    box-sizing: border-box;    text-align: center;
    align-items: center;

}

.section-banner h2 {
    font-size: 2em;
    margin: 0;
}
.section-banner button{
    margin-top: 20px;
}

.content-section {
    padding: 60px 20px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    justify-content: space-around;
}

.firmy{
    display: flex;
    gap: 90px;
}

.logosimg {
    max-height: 90px;
}
.profilepic{
    max-height: 105px;
}

.content {
    display: flex;
    align-items: center;
    gap: 250px;
    margin-bottom: 60px;
    width: 110%;
    justify-content: space-evenly;
}

.content-image {
    width: 500px;
    height: 500px;
}

.text-content {
    display: flex;
    flex-direction:column;
    max-width: 800px;
    column-gap: 60px;
}

.text-content h2 {
    font-size: 2.5em;
    margin-top: 0;
}

.text-content p {
    display: flex;
    margin: 10px 0;
    gap: 5px;
    font-size: 18px;
}

.quote {
    font-style: italic;
    padding-top: 35px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background: #273f5f;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.footer-content h3 {
    margin-top: 0;
}

.footer-container p {
    margin: 10px 0;
}

footer p {
    text-align: center;
    background: #273f5f;
    color: white;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
.rest{
    display: flex;
    flex-direction:row ;
    gap: 20px;
}